body {
  background-color: #262626;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}
section span {
  font-family: "Lato";
  font-size: 80px;
  color: #464545;
  letter-spacing: 40px;
  font-weight: bold;
  animation-name: lighting;
  animation: infinite;
  animation-duration: 0.8s;
}
section > span {
  animation-name: lighting;
}

.eins {
  animation-delay: 0s;
}
.zwei {
  animation-delay: 0.1s;
}
.drei {
  animation-delay: 0.2s;
}
.vier {
  animation-delay: 0.3s;
}
.fünf {
  animation-delay: 0.4s;
}
.sechs {
  animation-delay: 0.5s;
}
.sieben {
  animation-delay: 0.6s;
}
.acht {
  animation-delay: 0.7s;
}

@keyframes lighting {
  0% {
    color: #464545;
    text-shadow: none;
  }
  80% {
    color: #464545;
    text-shadow: none;
  }

  100% {
    color: yellow;
    text-shadow: 0px 0px 25px #ff6c00;
  }
}
